# Dependencies
node_modules/
package*.json
# OS artifacts
Thumbs.db
**/Thumbs.db
.DS_Store
**/.DS_Store
# Logs
*.log
# Backups (created by AI sessions)
*.bak
*.bak[0-9]*
index.html.bak*
# Build artifacts
repomix-output.xml
repomix-output.txt